/*styleguide*/

body { /*styleguide is ...*/
  font-family: 'Source Sans Pro', sans-serif;
  padding: 2rem;

 }


section {
  
  padding: 1em 0;
  border-top: 1px solid black;
}



h1,p{
	
	margin-left: 0.1rem;
}




h2,p{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	margin-top: 0.1em;
	margin-bottom: 1rem;
	margin-left: 0.2rem;
}


h3{ /*css selector, code sample*/
	font-family: 'roboto', sans-serif;
	font-weight:700;
	font-size: 0.9rem;
}

nav a {

	font-weight: bold;
	
	display: inline-block;
	color: white;
	background-color: #FF6600;
	text-align: center; 
	width: 120px;
	
	
	padding:0.9rem 0.6rem ; /*the order of padding is top,right,bottom,left*/
	text-decoration: none; 
	border-radius: 5px; 
	
}

nav a:first-of-type {
	margin-left: 0;
}

a.button {
font-family: 'Roboto', sans-serif;
font-size: 0.95rem;
font-weight: 300;
  display: inline-block;
  padding: 0.5em 0.7em;
  color: white;
  background-color: #001237;
  border-radius: 0.5em;
  text-decoration: none;
  -webkit-transition: background-color ease;
  transition: background-color ease;
}
a.button:hover, a.button:focus {
  background-color: #1987AC;

}



.parag{
	
	float:left;
	
	margin-right:5em;
	position: auto;
	line-height: 1.3em;
    
    width: 600px;
    background-color: white;
}
.parag2{
	line-height: 1.3em;
}


.selector{
	clear:both;
}


form{
	display:block;
	padding: 1em;
	
	background-color: #f0f0f0;
	width:20em;
}

label{
	padding-bottom: 1.5em;
	margin-right:0.5em;

}

input{
	height:1em;
	width:25em;
}

textarea{
	height:10em;
	width:25em;
}

#submit{

	margin-left: 0.1em;
	margin-bottom: 0.1em;
	padding: 0.5em 0.6em;
  	color: white;
  	background-color: #001237;
  	border-radius: 0.5em;
  	width: 4rem;
  	text-align: center;
}

#navg2{
	width:600px;
	position:auto;
}
#btn2{
	width:600px;
}
#img2{
	width: 600px;
}
#navg3{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	
	display: inline-block;
	color: white;
	background-color: #FF6600;
	text-align: center; 
	width: 120px;
	
	margin-left: 0;
	padding:0.6rem 0.6rem ; /*the order of padding is top,right,bottom,left*/
	text-decoration: none; 
	border-radius: 5px; 

}

code{
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	width:100px;

}

select {
  margin: 1em;
  border: 1px solid #111;
  background: transparent;
  width: 10em;
  padding: 1em 1em 1em 1em;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 2em; 
}


#gridbox{
	margin:0;
	border:0;
	padding:0;

}

#codeblock{
	display: block;
	list-style: none;

/** swatches **/
}

#swatchblue{
	display: inline-block;
	background-color: #1987AC;
	padding:2rem 1.5rem;
	margin-left: 2rem;
	color: white;
}
#swatchdblue{
	display: inline-block;
	background-color: #001237;
	padding:2rem 1.5rem;
	margin-left: 2rem;
	color: white;
}
#swatchorg{
	display: inline-block;
	background-color: #FF6600;
	padding:2rem 1.5rem;
	margin-left: 2rem;
	color: white;
}
#swatchgry{
	display: inline-block;
	background-color: #DEDEDE;
	padding:2rem 1.5rem;
	margin-left: 2rem;
	color: white;
}



