nav a{
	float:right;
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color:#FBEAB8;
	text-decoration: none;
}

 .bg img{
 	
 	width:100%;
 	height:100%;
 	z-index: 1;
 }


 .transbox{
 	position:absolute;
 	
 	width:100%;
 	background-color:white;
 	opacity:0.7;
 	height:30em;
 	z-index:2;
 }




 .col-1of3{
	
	width: 33.33%;
}

@media (max-width: 50em) {

	.col-1of3{
		border-bottom: 1px solid black;

		width:100%;
	}
	
}
.grid:after {
	content: "";
	display: block;
	clear: both;
}

ul.ct{
	
	list-style-type: none;

}

ul.ct1{
	list-style-type: none;
	padding-top: 7em;
}



#contact{
	border-top: 1px solid black;
	

}












