*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	float: left;
	padding-right:20px; 
	text-align: center; 
}



.entranceL{
	float: left;
	padding-right:20px; 
	text-align: center; 
	margin-top: 40px;
	width: 20%;
	position:absolute;
	left:20%;
	box-shadow: 0.5em 0.5em 0.4em #F2F2F2;
	
}

@media (max-width: 50em) {

	.entranceL {
		margin-top: 40px;
		width: 100%;
		box-shadow: 0.2em 0.2em 0.1em #F2F2F2;
	}

}

.entranceR{
	float: left;
	padding-right:20px; 
	text-align: center; 
	margin-top: 40px;
	width: 20%;
	position:absolute;
	right:20%;
	box-shadow: 0.5em 0.5em 0.4em #F2F2F2;
	
}

@media (max-width: 50em) {

	.entranceR {
		margin-top: 40px;
		width: 100%;
		box-shadow: 0.2em 0.2em 0.1em #F2F2F2;
	}

}

.col-2of10 {
	margin-top: 40px;
	width: 20%;
	
}

@media (max-width: 30em) {

	.col-2of10 {
		margin-top: 40px;
		width: 100%;

	}

}

.col-6of10 {
	margin-top: 40px;
	width: 60%;
}

.col-4of10 {
	margin-top: 40px;
	width: 40%;
}

.col-3of10 {
	margin-top: 40px;
	width: 30%;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}