 ul{
 	list-style-type: none;
 }
#cart{
	position: absolute;

}

.col-1of1{
	width:100%;
}

#learn{

	background-color:#AADBD2;
	font-size:0.8em;
	text-decoration: none;
	padding: 1em;
	margin-left:1.5em;
	color:white;
	
	border-radius: 0 .8em 0 .8em;

}