select{
	margin-bottom: 20em;
}

h3{
	margin:0;
	padding-right:2em;
	text-transform: uppercase;
}

p{
	margin:0;
	padding-top: none;
}

#learn{

	background-color:#AADBD2;
	font-size:0.8em;
	text-decoration: none;
	padding-top:2em;
	margin-left:1.5em;
	color:white;
	
	border-radius: 0 .8em 0 .8em;
/*padding: 1em 1.5em;*/
}


.col-1of4 {
	text-align: center;
	width: 25%;
}
@media (max-width: 50em) {

	.col-1of4{
		width:100%;
	}
	
}


