*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='col-'] {
	float: left;
	padding-right:20px; 
	text-align: center; 
}

.col-5of10 {
	margin-top: 40px;
	width: 50%;
}

@media (max-width: 50em) {

	.col-5of10 {
		margin-top: 40px;
		width: 100%;
	}

}

.col-2of10 {
	margin-top: 40px;
	width: 20%;
}

@media (max-width: 30em) {

	.col-2of10 {
		margin-top: 40px;
		width: 100%;
	}

}

.col-6of10 {
	margin-top: 40px;
	width: 60%;
}

.col-4of10 {
	margin-top: 40px;
	width: 40%;
}

.col-3of10 {
	margin-top: 40px;
	width: 30%;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

.filter{
	margin: 50px;
	background-color: #E6E6E6;
	display: inline-block;
}

select {
  margin: 2em;
  margin-bottom: 10em;
  border: 1px solid #111;
  background: transparent;
  width: 10em;
  padding: 2em 2em 2em 2em;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 2em; 
}

nav a{
	top:1em;
	position: absolute;
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1em;
	color:#FBEAB8;
	text-decoration: none;
}

.btn{
	background-color:#EE6C3E;
}



