

body { 
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  padding: 2rem;

 }


 .bg img{
 	width:100%;
 	height:100%;
 	
 }

 .overlay img{
	position:absolute;
	z-index:2;
	left:35%;
	top:16rem;

} 

/*img.awards{
	position:absolute;
	z-index: 1;
	left:5%;
	top:5rem;
}*/


nav a{
	position:absolute;
	top:1.5em;

	float:right;
	display:inline-block;
	
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

	font-size: 1em;
	color:#FBEAB8;
	text-decoration: none;
}

.btn{ /*bg color of navbar*/
	
	background-color:#EE6C3E;
	 
}  	 

.bottom{  /*bg color of bottom info*/
	position:relative;
	width:100%;
	height:40%;
	font-family: 'Roboto', sans-serif;
	color:#AADBD2;
	background-color: #6A5D48;
}



.footer{  
	font-family: 'Roboto', sans-serif;
	position:absolute;
	top:100%;
	text-align: center;
	color:#FBEAB8; /*ylwW*/
	background-color:#EE6C3E;
	width:100%;
	text-decoration: none;
	
}

input{

	padding: 1em;
	border:none;
	margin:0.3em;
	width:100%;
	background-color:white;

}
.submitbtn{
	color:white;
	background-color:#AADBD2;
	border-radius: 0 .8em 0 .8em;
}

#learn{
	background-color:#AADBD2;
	font-size:0.7em;
	text-decoration: none;
	padding: 1em;
	margin-left:1.5em;
	color:white;
	
	border-radius: 0 .8em 0 .8em;

}

h3,p.new{
	font-size: 1.5em;
	padding:1.5em;
	line-height: 1.2em;
}

p.sign{
	font-size: 1.5em;
	padding:1.5em;
	line-height: 1.2em;
}

.newprod{
	padding:2em;
}





body,html{ 
	padding:0;
	margin:0;
	border: 0;
	width:100%;
	height:100%;
}











