nav a{
	float:right;
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 1rem;
	color:#FBEAB8;
	text-decoration: none;
}

.btn{ /*bg color of navbar*/
	
	background-color:#EE6C3E;
	 
}  	 

.footer{  
	font-family: 'Roboto', sans-serif;
	position:absolute;
	top:100%;
	text-align: center;
	color:#FBEAB8; /*ylwW*/
	background-color:#EE6C3E;
	width:100%;
	text-decoration: none;
	
}

img{
	padding-left: 4em;
}